.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}


.left-column {
	float: left;
	width: 20%;
}

.right-column {
	float: left;
	width: 80%;
	padding-top: 30px;

}

.logoArea {

	width: 100%;
	max-width: 100px;
	padding: 50px;
}

.clearfix {
	padding: 0px 0px 0px 35px;
}

.galleryItem {
    float: left;
    padding: 15px;
    width: 29.4%;

}

nav {
	background-color: (255,255,255);
	font-family: 'Raleway', sans-serif;
	text-transform: Uppercase;
	text-align: left;
}

nav a { 
	background-color: (255,255,255);
	color: (0,0,0);
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: left;
	font-size: 16px;
	clear: both;
	padding: 20px;
}


h1 {
	text-align: left;
	color: (0,0,0);
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: UPPERCASE;
	letter-spacing: 2px;
	padding: 20px;


}

body {
	background-color: (255,255,255);
	text-align: left;
}

p {
	color: (0,0,0);
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	line-height: 1.3em;
}


a {
	text-align: center;
	font-size: 16px;
}

.text {
	width: 60%;
	padding-top: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}